.change-password-popup {
  z-index: 555;
  .popup-inner {
    position: relative;
    min-width: 277px;
    z-index: 4;
    padding: 40px 85px 65px 85px;
    .b-title{
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      color: #505363;
      margin: 0 0 34px 0;
    }
    .input-wr{
      margin: 0 0 20px 0;
    }
    .button-box{
      .button{
        width: 100%;
        line-height: 50px;
      }
    }
  }
}