.reg-confirm-popup {
  .popup-inner {
    min-width: 579px;
    z-index: 4;
    padding: 53px 0 58px;
    p {
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      color: #505363;
      margin: 23px 0 47px 0;
    }
    .button {
      min-width: 277px;
    }
    .button-box {
      text-align: center;
    }
    .done{
      display: flex;
      justify-content: center;
    }
  }
}