.theme-name{
  padding: 30px 0 66px 0;
  .about-theme{
    .wr{
      .b-title{
        margin: 0 0 34px 0;
      }
      p{
        max-width: 802px;
        text-align: justify;

      }
      .input-wr{
        margin: 30px 0 46px 0;
        display: flex;
        justify-content: flex-end;
        span{
          position: relative;
        }
        img{
          position: absolute;
          padding: 11px 7px 11px 12px;
        }
        input{
          max-width: 276px;
          padding: 10px 39px;
          outline: none !important;
        }
        input:focus {
          outline: none !important;
          border: 1px solid #59218a;
        }
      }
    }
  }
  .about-theme-wr{
    .wr{
      display: flex;
      & > .r-side{
        flex-basis: 77%;
      }
      .filter-checkbox{
        flex-basis: 23%;
        margin: 0 1% 0 0;
        background: rgba(218, 223, 234, .24);
        position: relative;
        padding-top: 34px;
        padding-bottom: 34px;
        &:before{
          content: '';
          position: absolute;
          right: 100%;
          width: 99999999px;
          top: 0;
          bottom: 0;
          background: rgba(218, 223, 234, .24);
        }
        .title-filter{
          font-size: 20px;
          font-weight: bold;
          text-align: justify;
          color: #59218a;
        }
        & > * {
          margin: 0 0 30px;
          overflow: hidden;
          &:last-child {
            margin: 0;
          }
        }
        .title-head{
          font-size: 16px;
          font-weight: bold;
          color: #505363;
          margin: 0 0 11px 0;
        }
        .checkbox-i{
          position: relative;
          margin: 10px 0;
          input{
            width: 100%;
            height: 25px;
            cursor: pointer;
            opacity: 0;
          }
          input:checked + label{

            .checkbox{
              background: #59218a;
              border: 1px solid #59218a;
              i{
                transform: scale(1);
                opacity: 1;
              }
            }

          }
          label {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            pointer-events: none;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 16px;
            font-weight: normal;
            text-transform: none;
            color: #505363;
            .filters{
              display: flex;
              align-items: center;
            }
            .checkbox{
              width: 18px;
              height: 18px;
              background: #ffffff;
              border: 1px solid #cdcdcd;
              border-radius: 4px;
              box-sizing: border-box;
              display: flex;
              align-items: center;
              justify-content: center;
              margin: 0 10px 0 0;
              transition: background .3s;
              i{
                transform: scale(0);
                color: #fff;
                opacity: 0;
                transition: .3s;
              }
            }
          }
        }
      }
      ul{
        display: flex;
        flex-wrap: wrap;
        li{
          margin: 0 .6% 28px 0;
          flex-basis: 32%;
          &:nth-child(3n){
            margin: 0 0 28px 0;
          }
          a{
            .course-img{
              width: 275px;
              height: 200px;
              opacity: 0.8;
              border-radius: 5px;
              background-color: rgba(89, 33, 138, 0.6);
              position: relative;
              .inner{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                color: #ffffff;
                font-family: HelveticaNeue;
                font-size: 14px;
                font-weight: 500;
                text-align: justify;
                .course-name{
                  font-size: 20px;
                  font-weight: bold;
                }
                .course-data{
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  white-space: nowrap;
                  margin: 15px 0 15px 0;
                  span{
                    margin: 0 0 0 15px;
                  }
                }
                .number{
                  display: flex;
                  align-items: center;
                  span{
                    margin: 0 0 0 15px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen
and (max-width: 1135px) {
  .theme-name .about-theme-wr .wr ul li{
    margin: 0 .6% 28px 0;
    flex-basis: 32%;
    &:nth-child(3n){
      margin: 0 .6% 28px 0;
    }
  }
}