{% extends 'academy_site/base.html' %}
{% load static %}{% get_static_prefix as STATIC_PREFIX %}

{% block content %}
    <div>
        <p>name: {{ city.name }}</p>
        <p>description: {{ city.full_description }}</p>
        <p>phone: {{ city.phone }}</p>
        <p>email: {{ city.email }}</p>
        <p>location: {{ city.location }}</p>
    {% if city.photo %}
        <img src="{{ city.photo.url }}" alt="" style="width: 500px; height: 350px;">
    {% endif %}
    {% if city.video %}
        <iframe width="560" height="315" src="{{ city.video }}"
                frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    {% endif %}
    </div>
    <div>
        <h2>Themes</h2>
        <ul>
            {% for theme in city.theme_set.all %}
                <li style="display: inline-block; width: 20%; margin-right: 5%; text-align: center;
                        background: url({{ theme.photo.url }}) center; background-size: cover;">
                    <a href="{{ theme.get_site_url }}" style="color: white">
                        <p>name: {{ theme.name }}</p>
                        <p>description: {{ theme.description }}</p>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <h2>Teachers</h2>
        <ul>
            {% for auth_teacher in teachers %}
                <li style="display: inline-block;margin-right: 2%; text-align: center; max-width: 15%;">
                <p>NAME: {{ auth_teacher.full_name }}</p>
                <p>EMAIL: {{ auth_teacher.email }}</p>
                    <p>
                        LINKS:
                        {% if auth_teacher.adminprofile.facebook_link %}
                            <a href="{{ auth_teacher.adminprofile.facebook_link }}">facebook_link</a>
                        {% endif %}
                        {% if auth_teacher.adminprofile.instagram_link %}
                            <a href="{{ auth_teacher.adminprofile.instagram_link }}">instagram_link</a>
                        {% endif %}
                        {% if auth_teacher.adminprofile.other_link %}
                            <a href="{{ auth_teacher.adminprofile.other_link }}">other_link</a>
                        {% endif %}
                    </p>
                <p>PHONE: {{ auth_teacher.adminprofile.phone }}</p>
                    <p>BIO: {{ auth_teacher.adminprofile.bio }}</p>
                {% if auth_teacher.photo %}<img src="{{ auth_teacher.photo.url }}" style="width: 50px; height: 50px;">{% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <h2>Partners</h2>
        <ul>
            {% for partner in city.partners.all %}
                <li style="display: inline-block;margin-right: 2%; text-align: center;">
                    <p>{{ partner.name }}</p>
                    <a href="{{ partner.link }}">
                        <img src="{{ partner.logo.url }}" alt="{{ partner.name }}" title="{{ partner.name }}"
                             style="width: 50px; height: 50px;">
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <h2>Contact us</h2>
        <form method="post" action="{% url 'academy_site:contact_us' %}">
            {% csrf_token %}
            {{ contact_us_form.as_p }}
            <button type="submit">Send</button>
        </form>
    </div>
{% endblock %}