{% extends 'academy_site/base.html' %}
{% load static %}{% get_static_prefix as STATIC_PREFIX %}

{% block content %}
    <div>
        <p>name: {{ city.name }}</p>
        <p>description: {{ city.description }}</p>
        <p>phone: {{ city.phone }}</p>
        <p>email: {{ city.email }}</p>
        <p>address: {{ city.school_address }}</p>
    </div>
    <div>
        <h2>Contact us</h2>
        <form method="post" action="{% url 'academy_site:contact_us' %}">
            {% csrf_token %}
            {{ contact_us_form.as_p }}
            <button type="submit">Send</button>
        </form>
    </div>
    <div>
        <h2>Teachers</h2>
        <ul>
            {% for auth_teacher in teachers %}
                <li style="display: inline-block;margin-right: 2%; text-align: center; max-width: 15%;">
                    <p>
                        LINKS:
                        {% if auth_teacher.teacher.facebook_link %}
                            <a href="{{ auth_teacher.teacher.facebook_link }}">facebook_link</a>
                        {% endif %}
                        {% if auth_teacher.teacher.instagram_link %}
                            <a href="{{ auth_teacher.teacher.instagram_link }}">instagram_link</a>
                        {% endif %}
                        {% if auth_teacher.teacher.other_link %}
                            <a href="{{ auth_teacher.teacher.other_link }}">other_link</a>
                        {% endif %}
                    </p>
                    <p>BIO: {{ auth_teacher.teacher.bio }}</p>
                    <img src="{{ auth_teacher.photo.url }}" style="width: 50px; height: 50px;">
                </li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <h2>Partners</h2>
        <ul>
            {% for partner in city.partners.all %}
                <li style="display: inline-block;margin-right: 2%; text-align: center;">
                    <p>{{ partner.name }}</p>
                    <a href="{{ partner.link }}">
                        <img src="{{ partner.logo.url }}" alt="{{ partner.name }}" title="{{ partner.name }}"
                             style="width: 50px; height: 50px;">
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}