{% load static %}{% get_static_prefix as STATIC_PREFIX %}

{#{% if messages %}#}
{#    <style>#}
{#        .success {#}
{#            color: green;#}
{#        }#}
{##}
{#        .error {#}
{#            color: red;#}
{#        }#}
{#    </style>#}
{#    <ul style="text-align: center; font-size: 20px;">#}
{#        {% for message in messages %}#}
{#            <li class="{{ message.tags }}">{{ message }}</li>#}
{#        {% endfor %}#}
{#    </ul>#}
{#{% endif %}#}
<div style="display: flex; justify-content: space-around;">
    <h1><a href="{% url 'academy_site:home' %}">HERSTELACADEMIE</a></h1>
    <div>
        {% if user.is_authenticated %}
            {% if not user.siteuser.is_confirmed %}<p style="color:red;">please confirm e-mail</p>{% endif %}
            <div style="display: inline-block; margin-right: 10px;">
                {% if user.photo %}
                    <img style="height: 50px; width: 50px;" src="{{ user.photo.url }}" alt="">
                {% else %}
                    <img style="height: 50px; width: 50px;" src="{{ STATIC_PREFIX }}academy/img/anonymous.png" alt="">
                {% endif %}
            </div>
            <div style="display: inline-block;">
                <p>{{ user.full_name }}</p>
                <p>{{ user.get_role }}</p>
                <p><a href="{% url 'academy_site:profile' %}">[profile]</a></p>
            </div>
        {% else %}
            <p>Welcome, new user. Please log in.</p>
        {% endif %}
    </div>
</div>

<div style="background-color: beige; text-align: center;">MENU</div>

{% if not user.is_authenticated %}
    <h2>Sign up</h2>
    <form method="post" action="{% url 'academy_site:signup' %}">
        {% csrf_token %}
        {{ signup_form.as_p }}
        <button type="submit">Sign up</button>
    </form>

    <h2>Reset password</h2>
    <form method="post" action="{% url 'academy_site:reset_password' %}">
        {% csrf_token %}
        {{ reset_password_form.as_p }}
        <button type="submit">Reset password</button>
    </form>

    <h2>Sign in</h2>
    <form method="post" action="{% url 'academy_site:signin' %}">
        {% csrf_token %}

        {{ signin_form.non_field_errors }}

        {{ signin_form.source.errors }}
        {{ signin_form.source }}

        <table border="1">

            <tr>
                <th>{{ signin_form.email.label_tag }}</th>
                <td>
                    {{ signin_form.email.errors }}
                    {{ signin_form.email }}
                </td>
            </tr>

            <tr>
                <th>{{ signin_form.password.label_tag }}</th>
                <td>
                    {{ signin_form.password.errors }}
                    {{ signin_form.password }}
                </td>
            </tr>

        </table>

        <button type="submit">Sign in</button>
    </form>
{% endif %}
