{% extends 'academy_site/base.html' %}
{% load static %}{% get_static_prefix as STATIC_PREFIX %}

{% block content %}
    {% if not user.siteuser.is_confirmed %}
        <p><a href="{% url 'academy_site:new_confirmation_code' %}">[SEND NEW CONFIRMATION CODE]</a></p>
    {% endif %}
    <p><a href="{% url 'academy_site:profile_edit' %}">[EDIT]</a></p>
    <p><a href="{% url 'academy_site:logout' %}">[LOGOUT]</a></p>
    <div>
        <h2>My courses</h2>
        <table>
            <tr>
                <th>COURSE</th>
                <th>NEXT LESSON</th>
                <th>RATE</th>
            </tr>
            {% for course_subscribe in course_subscribes %}
                <tr>
                    <td><a href="{{ course_subscribe.course.get_site_url }}">{{ course_subscribe.course.name }}</a></td>
                    <td>
                        {% if course_subscribe.course.next_lesson %}
                            {{ course_subscribe.course.next_lesson.date }}
                        {% else %}
                            <span>ARCHIVED</span>
                        {% endif %}
                    </td>
                    <td>{{ course_subscribe.course.rate }}</td>
                    <td><a {% if course_subscribe.is_liked %}style="color: green;" {% endif %}
                           href="{{ course_subscribe.course.get_like_url }}">[LIKE]</a></td>
                    <td><a {% if course_subscribe.is_disliked %}style="color: red;" {% endif %}
                           href="{{ course_subscribe.course.get_dislike_url }}">[DISLIKE]</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
