{% extends 'academy_site/base.html' %}
{% load static %}{% get_static_prefix as STATIC_PREFIX %}

{% block content %}
    <h2>EDIT PROFILE</h2>
    <form method="post" enctype="multipart/form-data" action="{% url 'academy_site:profile_edit' %}">
        {% csrf_token %}
        {{ edit_form.as_p }}
        <button type="submit">Save</button>
    </form>

    <p>Change password</p>
    <form method="post" action="{% url 'academy_site:change_password' %}">
        {% csrf_token %}
        {{ change_password_form.as_p }}
        <button type="submit">Change</button>
    </form>
{% endblock %}