{% extends 'academy_site/base.html' %}
{% load static %}{% get_static_prefix as STATIC_PREFIX %}

{% block content %}
    <div>
        <p>name: {{ theme.name }}</p>
        <p>description: {{ theme.description }}</p>
    </div>
    <div>
        <h2>Courses</h2>
        <ul>
            {% for course in courses %}
                <li style="display: inline-block; width: 20%; margin-right: 5%; text-align: center;
                        background: url({{ course.photo.url }}) center; background-size: cover;">
                    <a href="{{ course.get_site_url }}" style="color: white">
                        <p>name: {{ course.name }}</p>
                        <p>seats: {{ course.remaining_seats }}</p>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}