{% extends 'academy_site/base.html' %}
{% load static %}{% get_static_prefix as STATIC_PREFIX %}

{% block content %}
    <div class="main-count">
    <div class="workbook">
        <div class="wr">
            <div class="b-title">Workbook</div>
            <p>
                CGG Ahasuerus, in reaction to the study Restorative Care: learning English and Flemish experience , on
                April 17, 2015, written a workbook.
            </p>
            <p>
                Workbook Part 1includes a translation <a href="">ofIMROC COLLEGE NETWORK RECOVERY</a> guidelines written
                by Julie
                Repperand prof.Geoff Shepherd.
            </p>
            <p>
                In part two descriptions we how we work today on the Restoration Academy in Halle-Vilvoorde.
                Thethird partcomprises supporting literature.
            </p>
            <ul>
                <li><a href="#">Workbook 1 - werkbo ﻿ek ﻿HerstelA ﻿Cadem ﻿ie</a></li>
                <li><a href="#">Homework Recovery Academy</a></li>
                <li><a href="#">A course proposals</a></li>
            </ul>
            <p>
                Workbook Part 2 includes possible example of a provincial organization chart and an impetus to establish
                a cross-organizational support fund. <br/>
                <a href="#">Workbook 2 -provincial organization of a H erstelAcademie </a>﻿
            </p>
        </div>
    </div>
</div>
{% endblock %}