{% extends 'academy_admin/base_index.html' %}
{% load static %}{% get_static_prefix as STATIC_PREFIX %}

{% block subcontent %}
    <h2>Add course</h2>

    <div>CITY</div>
    <select onchange="location = this.value;">
        {% for city in cities %}
            <option value="{% url 'academy_admin:add_course' %}?city={{ city.pk }}"
                    {% if city == selected_city %}selected{% endif %}>{{ city.name }}</option>
        {% endfor %}
    </select>

    <form method="post" enctype="multipart/form-data" action="{% url 'academy_admin:add_course' %}">
        {% csrf_token %}
        {{ add_course_form.as_p }}
        <input type="submit" name="save" value="SAVE"/>
        <input type="submit" name="save_draft" value="SAVE DRAFT"/>
    </form>
{% endblock %}