{% extends 'academy_admin/base_index.html' %}
{% load static %}{% get_static_prefix as STATIC_PREFIX %}

{% block subcontent %}
    <h2>{{ city.name }}</h2>

    <form method="post" enctype="multipart/form-data" action="{{ city.get_admin_url }}">
        {% csrf_token %}
        {{ update_city_form.as_p }}
        <button type="submit">Save</button>
    </form>

    <div>
        <h3>Themes</h3>

        <table style="margin-bottom: 30px;">
            <tr>
                <th>NAME</th>
                <th>LAST UPDATE</th>
            </tr>
            {% for theme in city.theme_set.all %}
                <tr>
                    <td><a href="{{ theme.get_admin_url }}">{{ theme.name }}</a></td>
                    <td>{{ theme.last_update }}</td>
                    <td><a href="{% url 'academy_admin:delete_theme' theme.pk %}">[Delete]</a></td>
                </tr>
            {% endfor %}
        </table>

        <a href="{% url 'academy_admin:add_theme' %}?city={{ city.pk }}">[+ADD THEME]</a>
    </div>

    <div>
        <h3>Partners</h3>

        <table style="margin-bottom: 30px;">
            <tr>
                <th>NAME</th>
                <th>LAST UPDATE</th>
            </tr>
            {% for partner in city.partners.all %}
                <tr>
                    <td><a href="{{ partner.get_admin_url }}">{{ partner.name }}</a></td>
                    <td>{{ partner.last_update }}</td>
                    <td><a href="{% url 'academy_admin:delete_partner' partner.pk %}?city={{ city.pk }}">[Delete]</a></td>
                </tr>
            {% endfor %}
        </table>

        <a href="{% url 'academy_admin:add_partner' %}?city={{ city.pk }}">[+ADD PARTNER]</a>
    </div>

    <div>
        <h3>Teachers</h3>

        <table style="margin-bottom: 30px;">
            <tr>
                <th>NAME</th>
                <th>LAST UPDATE</th>
            </tr>
            {% for teacher in teachers %}
                <tr>
                    <td>
                        <a href="{{ teacher.get_admin_url }}">{{ teacher.full_name }}</a>
                    </td>
                    <td>{{ teacher.adminprofile.last_update }}</td>
                    <td><a href="{% url 'academy_admin:delete_teacher' teacher.pk %}">[Delete]</a></td>
                </tr>
            {% endfor %}
        </table>

        <a href="{% url 'academy_admin:add_teacher' %}?city={{ city.pk }}">[+ADD TEACHER]</a>
    </div>
{% endblock %}