<div><a href="{% url 'academy_admin:index' %}">Homepage</a></div>
<div><a href="{% url 'academy_admin:index' %}">Regions</a></div>
<div><a href="{% url 'academy_admin:index' %}">Wokrboek</a></div>
<div><a href="{% url 'academy_admin:index' %}">Wokrgroep</a></div>
<div><a href="{% url 'academy_admin:index' %}">Newsletters</a></div>
<div><a href="{% url 'academy_admin:index' %}">Statistics</a></div>
<div><a href="{% url 'academy_admin:index' %}">Partners</a></div>
<div><a href="{% url 'academy_admin:index' %}">Security</a></div>