<div><a href="{% url 'academy_admin:index' %}">Homepage</a></div>
<div><a href="{% url 'academy_admin:cities' %}">Regions</a></div>
<div><a href="{% url 'academy_admin:index' %}">Wokrboek</a></div>
<div><a href="{% url 'academy_admin:index' %}">Wokrgroep</a></div>
<div><a href="{% url 'academy_admin:index' %}">Newsletters</a></div>
<div><a href="{% url 'academy_admin:index' %}">Statistics</a></div>
<div><a href="{% url 'academy_admin:partners' %}">Partners</a></div>
<div><a href="{% url 'academy_admin:teachers' %}">Teachers</a></div>
<div><a href="{% url 'academy_admin:security' %}">Security</a></div>