{% extends 'academy_admin/base_index.html' %}
{% load static %}{% get_static_prefix as STATIC_PREFIX %}

{% block subcontent %}
    <h2>Security</h2>

    <table style="margin-bottom: 50px;">
        <tr>
            <th>NAME</th>
            <th>ROLE</th>
        </tr>
        {% for admin in admins %}
            <tr>
                <td><a href="{% url 'academy_admin:user_detail' admin.pk %}">{{ admin.full_name }}</a></td>
                <td>{{ admin.get_role }}</td>
                {% if user.pk != admin.pk %}
                    <td><a href="{% url 'academy_admin:delete_security' admin.pk %}">[Delete]</a></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>

    <a href="{% url 'academy_admin:add_security' %}">[+ADD ADMIN USER]</a>
{% endblock %}