{% extends 'academy_admin/base_index.html' %}
{% load static %}{% get_static_prefix as STATIC_PREFIX %}

{% block subcontent %}
    <h2>TEACHERS</h2>

    <div>CITY</div>
    <select onchange="location = this.value;">
        {% for city in cities %}
            <option value="{% url 'academy_admin:teachers' %}?city={{ city.pk }}"
            {% if city == selected_city %}selected{% endif %}>{{ city.name }}</option>
        {% endfor %}
    </select>

    <table style="margin-bottom: 50px;">
        <tr>
            <th>TEACHER</th>
            <th>LAST UPDATE</th>
        </tr>
        {% for auth_teacher in teachers %}
            <tr>
                <td><a href="{{ auth_teacher.get_admin_url }}">{{ auth_teacher.full_name }}</a></td>
                <td>{{ auth_teacher.adminprofile.last_update }}</td>
                <td><a href="{% url 'academy_admin:delete_teacher' auth_teacher.pk %}">[Delete]</a></td>
            </tr>
        {% endfor %}
    </table>

    <a href="{% url 'academy_admin:add_teacher' %}">[+ADD TEACHER]</a>
{% endblock %}